* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:coral;
    font-size: 30px;
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.main-nav{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
h1{
    color:coral;
    font-family: 'Mochiy Pop P One', sans-serif;  
}
h2{
    font-family: 'Shippori Mincho', serif;
}
.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80%;
    
}
.unko{
    margin-top: 90vh;
}
.b{
    margin-top: 55%;
}
.c{
    margin-top: 10%;
}
.d{
    margin-top: 10%;
}
.e{
    margin-top: 10%;
}