* {
    padding: 0;
    margin: 0;
    border: 30%;
}
img{
    width: 100%;
    height: 100%;
    
     
}

a {
    text-decoration: none;
    color:coral;
    font-size: 30px;
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* header { */
    /* height: 500px; */
/* } */

.main-nav{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
h1{
    color:coral;
    font-family: 'Mochiy Pop P One', sans-serif;
}
h2{
    font-family: 'Shippori Mincho', serif;
}
.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80%;
}
/* .unko{
    margin-top: 90vh;
}
.b{
    margin-top: 55%;
} */
.c{ 
    margin-top: 10%;
}
.c div{
    margin: 90px;
}

.d{
    margin-top: 10%;
}
.e{
    margin-top: 10%;
}
.f{
    position: absolute;
    width: 600px;
    left: 20px;
    top: 600px;

}
.g{
    position:absolute;
    width: 100px;
    height: 180px;
    left: 75%;
    top: 170%;
}

.unko{
    margin: 0 100px;
}
.content{
    height: 100vh;
    position: relative;
}


@media (max-width:900px){
    .f{
        display: none;
    }

}
